/repo/

# makepkg build/source artifacts left in pkgbuilds/*/
pkgbuilds/*/src/
pkgbuilds/*/pkg/
pkgbuilds/*/*.tar.gz
pkgbuilds/*/*.tar.xz
pkgbuilds/*/*.tar.zst
pkgbuilds/*/*.AppImage
pkgbuilds/*/*.pacman
pkgbuilds/*/*.deb
pkgbuilds/*/*.rpm
pkgbuilds/*/*.log
pkgbuilds/*/squashfs-root/
